.dyo {
  width: 100%;
  padding: 0 20px;

  .comment {
    padding-left: 20px;
    width: 100%;
  }

  .avatar {
    border: solid 1px #cecece;
    width: 45px;
    height: 45px;
  }

  .dyos-list {
    .ant-spin-container {
      overflow-x: auto;
    }

    .ant-list-items {
      display: inline-flex;
    }
  }

  .ant-comment-content-author {
    justify-content: space-between;
  }

  .dyo-body {
    font-size: 1rem;
    padding: 10px 10px 0;
  }
}
